<div id="<%= dom_id telegram_channel %>" class="w-full sm:w-auto my-5 space-y-5">
  <p>Name: <%= telegram_channel.name %></p>
  <p>Chat ID: <%= telegram_channel.chat_id %></p>
  <p>Enabled: <%= telegram_channel.enabled? %></p>
</div>
